<footer class="footer">
    <section class="subscribe">
      <h2>Be the First to Know!</h2>
      <p class="sub-info">
        Sign up for the newsletter and get $5 off your next purchase of $25+,
        plus be the first to know of any new exlusive offers, new arrivals,
        and more.
      </p>
      <form id="subscribe-form">
        <input type="email" id="email" placeholder="email@example.com" />
        <input type="submit" value="Subscribe" />
      </form>
    </section>
    <p class="copyright">&copy; 2022 Nick's Bookstore</p>
  </footer>
</body>
</html>