<%- include ("partials/head"); %>
<body>
  <main>
    <section class="banner">
      <h1>Welcome to Nick's Bookstore</h1>
    </section>
    <article class="latest-books">
      <h2>Latest Books</h2>
      <hr />
      <div id="books-container"></div>
    </article>
  </main>
  <script src="/scripts/getBooks.js"></script>
</body>
<%- include ("partials/footer"); %>
